/***********************************************************
  GENERAL
***********************************************************/

*{
    
    margin: 0;
    padding: 0;
}



.wrapper {

    border-bottom: 1px dashed red;
    margin: 0 auto;
    width: 80%;
    
}

img {
    max-width: 100%;
}


/***********************************************************
  HEADER
***********************************************************/

header {
    height: 130px;
    background-color: #323136;
    line-height: 130px;
}

hgroup {
    
    font-size: 1.4em;
}
/***********************************************************
  LOGO
***********************************************************/


#logo {
    
    display: inline-block;
    height: 105px;
    margin-left: 50px;
    margin-top: 12px
}

/***********************************************************
  nav bar
***********************************************************/

#navbar {
    display: inline-block;
    
    float: right;

}


#navbar li {
    margin-right: 50px;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 1.2em;
    
}

#navbar li a {
    
    text-decoration: none;
    color: #EDE6E1;    
   
}

#navbar li a:hover {
    
    color: white;
    text-decoration: underline;
}
/***********************************************************
JUMBOTRON
***********************************************************/


#jumbotron {
    
    outline: 1px dashed blue;
}
#jumbotron img{
    
        margin-left: 30%;
    

}

#jumbotron h1 {
    
    text-align: center;
    margin-bottom: 1%;
}

#jumbotron h2 {
    
    text-align: center;
    margin-bottom: 1%;
}

/***********************************************************
ARTICLE
***********************************************************/

article {
    
    margin-top: 2%;
    font-size: 1.4em;
    margin-bottom: 4%;
    text-align: center;
}


/***********************************************************
TABLE
***********************************************************/

#table h2 {
    margin-left: 5%;
}

#table table {
    
   padding-top: 3%;
    width: 90%;
    margin-bottom: 4%;
    margin: 0 auto;
    margin-bottom: 5%;
   
}

tbody tr th{
    
    background-color: lightgray;
}

thead tr th {
    
      background-color: #323136;
      color: #EDE6E1; 
}



/***********************************************************
FOOTER 
***********************************************************/

footer {
    text-align: center;
    background-color: #323136;
    padding-top: 1.3%;
    overflow: hidden;
    /** width / height /cambiamenti al wrapper per tentare lo sticky                                     footer **/
    
    position: relative; 
    bottom: 0;
}

footer h2 {
    
    color: #EDE6E1;
    
    margin-bottom: 1.3%;
}

footer a {
    
    text-decoration: none;
    color: #EDE6E1;
    font-size: 1.2em;
   
}

footer li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 4px solid white;
    background-color: #323136;
}

footer li:nth-child(1) {
    float: left;
}

footer li:nth-child(2) {
    float: right;
}

footer li a {
    display: inline-block;
    text-decoration: none;
    width: 118px;
    height: 2.5%;
    color: #EDE6E1;
    font-weight: bold;
    

    
    /*outline: 1px solid blue;*/
}

footer li a:hover {
    
    background-color: #EDE6E1;
    color: #323136;
}

#linkez {
    
    width: 50%;
    margin: 0 auto;
}

